/*
*Verde oficial: #00c252
*Cinza escuro: #333333
*
*
*/

hr{
  color: #00c252;
  border-width: 3px;
  border-color: #00c252;
}
p{
  color: #00c252;
}
p a{
  color: #0000FA;
}
#cadastro-wrapper{
  margin-top: 111px;
  margin-bottom: 33px;
  text-align: center;
}
.panel-heading{
  text-align: left;
}
input[name='concordo'][class='val-error']:focus{
  background: #FF0000;
  outline: 3px solid #FF0000;
}
.g-recaptcha div{
  margin-left: auto;
  margin-right: auto;
}
